// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$base-url: './assets/' !default;
$image-url: './assets/images/' !default;
$font-url: './assets/fonts/' !default;

$primary-font: 'Hans Kendrick', sans-serif;
$primary-color: #060B10;
$secondary-color: #0D6767;
$accent-color: #050707;
$accent-color-2: #FEE705;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #f1d3c6;
$light-gray-color: #fbfbfc;
$light-gray-darker-color: #F0F1F5;
:root {
	--primary-font: #{$primary-font};
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--accent-color: #{$accent-color};
	--accent-color-2: #{$accent-color-2};
	--white-color: #{$white-color};
	--black-color: #{$black-color};
	--border-color: #{$border-color};
	--light-gray-color: #{$light-gray-color};
	--light-gray-darker-color: #{$light-gray-darker-color};
}

