footer {
	z-index: 2;
	position: relative;
}
section.footer-cta {
	@include padding-top-bottom(7.25rem);
	.inner {
		max-width: 900px;
	}
	.circle {
		background-color: var(--white-color);
		width: 98vw;
		height: 98vw;
		border-radius: 50%;
		position: absolute;
		right: -56vw;
		bottom: -85vw;
	}

}

section.footer-bottom {
	@include padding-top-bottom(3.75rem);
	.inner {
		max-width: 760px;
		font-size: 11px;
		p, a {
			font-size: inherit;
		}
		> .inner-col {
			@include respond-to(mobile) {
				@include not-last-child {
					margin-bottom: 2rem;
				}
			}
		}
		@include respond-to(mobile) {
			flex-wrap: wrap;
		}
	}
	.image-box {
		width: 3.5rem;
		img {
			width: 100%;
		}
		@include respond-to(mobile-lg) {
			margin-right: 3.125rem;
		}
	}
	.text-box {
		opacity: .75;
		p {
			margin-bottom: 1rem;
		}
	}
	.link-box {
		ul {
			@include display-flex;
			flex-wrap: wrap;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			li {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 0;
				@include align-center;
				a {
					color: var(--white-color);
					text-decoration: underline;
					padding-left: 0;
					padding-right: 0;
					font-size: 12px;
				}
				@include not-last-child {
					&:after {
						content: '';
						width: 4px;
						height: 4px;
						border-radius: 10px;
						background-color: var(--white-color);
						display: inline-block;
						margin-left: 1rem;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

section.cta-sticky {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	z-index: 2;
	@include transform(translateY(100%));
	@include transition(300ms);
	@include box-shadow(0px 2px 17px 5px rgba(0,0,0,0.66));
	h3 {
		font-size: 2rem;
	}
	.container {
		@include respond-to(xs-md) {
			max-width: 100%;
		}
	}
	.button-group-wrapper {
		@include respond-to(xs-md) {
			margin-top: 2rem;
			@include justify-content(center);
		}
	}
	.button-box {
		a {
			@include respond-to(xs-lg) {
				padding: 0.875rem 1.5rem;
			}
		}
		&.button-white-bordered {
			a {
				@include respond-to(xs-lg) {
					padding: 0.7rem 1.5rem;
				}
			}
		}
		@include respond-to(md) {
			margin-right: 0 !important;
			width: 100%;
			text-align: right;
			a {
				max-width: 242px;
				width: 100%;
				@include justify-content(center);
			}
			@include first-child {
				margin-bottom: 1rem !important;

			}
		}
		@include first-child {
			a {
				@include respond-to(xs) {
					padding: 0.55rem 1.5rem;
				}
				@include respond-to(mobile) {
					padding: 0.48rem 1.5rem;
				}
			}
			@include respond-to(xs) {
				margin-right: 20px;

			}
		}
	}
}

body {
	&.show-sticky-cta {
		section.cta-sticky {

			@include transform(translateY(0));
		}
	}
}