section.hero-banner {
	.inner {
		max-width: 625px;
	}
	input[type="submit"] {
		padding: 1.281rem 1rem;
		font-size: 1rem;
	}
	.contact-form-box {
		max-width: 480px;
		margin: auto;
	}
}

section.page-banner {
	min-height: 385px;
}