section.hero-banner {
	.inner {
		h2 {
			line-height: 1.2;

		}
	}
	input[type="submit"] {
		padding: 1.281rem 1rem;
		font-size: 1rem;
	}
	.contact-form-box {
		max-width: 480px;
		margin: auto;
		p {
			margin-bottom: 1rem;
		}
	}
	
	.image-box  {
	    padding: 50%;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h2 {
		margin-bottom: 2rem !important;
	}
	.description {
		margin-bottom: 2rem;
		p {
			@include not-last-child {
				margin-bottom: 20px;
			}
		}
	}
}

section.page-banner {
	min-height: 385px;
}