section.info-box-section {
	overflow: hidden;
	position: relative;
	h2 {
		margin-bottom: 4rem;
	}
	.row {
		@include respond-to(lg) {
			--bs-gutter-x: 3.125rem;
			--bs-gutter-y: 3.125rem;
		}
		@include respond-to(md) {
			--bs-gutter-x: 2rem;
			--bs-gutter-y: 2rem;
		}
		@include respond-to(xs-sm) {
			--bs-gutter-x: 1.5rem;
			--bs-gutter-y: 1.2rem;
		}
	}
	.button-group-wrapper {
		margin-bottom: 5rem;
	}
	.info-slider-box {
		margin-left: -33px;
		margin-right: -33px;
		.swiper {
			padding-right: 33px;
			padding-left: 33px;
		}
	}

	.info-box-style-1.style-3 {
		.row {
			counter-reset: section;
			.col-lg-4 {
				.info-box {
					display: flex;
					.description-box {
						text-align: left;
					}
					.button-box {
						text-align: left;
						padding-left: 70px;
						left:  3.75rem;
					}
					&:before {
						counter-increment: section;
						content: counter(section) ".";
						font-size: 45px;
						font-weight: bold;
						color: var(--accent-color);
						width: 70px;
						display: inline-block;
						flex: 0 0 70px;
						text-align: left;
					}
				}
			}
		}
	}
	.swiper-slide {
		height: 100% !important;
	}
	.info-box {
		.icon-box {
			margin-bottom: 1.875rem;
		}
	}
	.container {
		position: relative;
	}

	.column-holder {
		height: 100%;
		position: relative;
		.info-box {
			height: 100%;
		}
	}
	.row {
		[class*="col-"] {
			@include respond-to(xs-sm) {
				@include not-last-child {
					margin-bottom: 30px;
				}
			}
			.button-box {
				bottom: 3.75rem;
				@include respond-to(xs-lg) {
					bottom: 2.75rem;
				}
			}
			&.col-lg-12 {
				.button-box {
					text-align: center;
					a {
						max-width: 300px;
					}
				}
			}
		}
	}
	.circle {
		width: 84vw;
		height: 84vw;
		background-color: var(--accent-color-2);
		border-radius: 50%;
		position: absolute;
		left: -36vw;
		top: 32vw;
		border: 20px solid;
	}
	&.has-decoration {
		&:before {
			content: '';
			position: absolute;
			width: 14vw;
			height: 14vw;
			background-color: var(--accent-color-2);
			right: -10vw;
			bottom: 0;
			border-radius: 50%;
		}
	}
}
